<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-50logger %-5level %msg%n</pattern>
    </encoder>
  </appender>
  <logger level="WARN" name="javax.jmdns"/>
  <logger level="INFO" name="mdns"/>
  <logger level="TRACE" name="log"/>
  <logger level="TRACE" name="org.slf4j"/>
  <logger level="INFO" name="de.gmuth.ipp"/>
  <root level="WARN">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>