<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-50logger %-5level %msg%n</pattern>
    </encoder>
  </appender>
  <logger level="WARN" name="javax.jmdns"/>
  <logger level="INFO" name="mdns"/>
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>